@model IEnumerable<ItemViewModel>

@{
    ViewData["Title"] = "Shopping Cart";
}

<h2>Shopping Cart</h2>
@if (Model != null)
{
    <div  class="outContainer">
        <div class="cart-item">

            @foreach (ItemViewModel item in Model)
            {
                <div>
                    <div class="container" style="background-color: whitesmoke; border-radius: 5px; border-style: groove; padding: 20px; margin: 10px; width: 900px">

                        <div class="item">
                            <div>
                                <img src="@Url.Content(item.Photo)" alt="Image"/>
                            </div>
                        </div>

                        <div class="item">

                            <div>
                                <div style="height: 3rem; line-height: 1rem;">
                                    <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                                </div>

                                <div style="height: 3rem; line-height: 1rem;">
                                    <h4>
                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                    </h4>
                                </div>

                                <div style="height: 3rem; line-height: 1rem;">
                                    @Html.DropDownListFor(modelItem => item.Quantity, Enumerable.Range(1, 10).Select(s => new SelectListItem
                                    {
                                        Text = s.ToString(),
                                        Value = s.ToString()
                                    }))
                                    @Html.ActionLink("Update Quantity", "UpdateQuantity", "Cart", routeValues: new
                                    {
                                        Id = item.Id,
                                        quantity = item.Quantity
                                    }, htmlAttributes: null)
                                </div>
                            </div>
                        </div>

                        <div class="item cart" style="float: right;">
                            <div>
                                <button class="remove-from-cart-button" type="button" onclick="location.href = '@Url.Action("Remove", "Cart")'">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        <div class="cart-item cart-summary">
            <h4 style="margin-left: 5px">Checkout: $ @ViewBag.TotalAmount</h4>
            <button class="add-to-cart-button check-out-button" type="button" onclick="location.href = '@Url.Action("Remove", "Cart")'">
                Proceed to Checkout
            </button>
        </div>
    </div>
}
else
{
    <h3>No Items in your shopping cart</h3>
}

<br />
<a href="../Product/Index">Back to Products</a>
